openapi: 3.0.3

info:
  title: Animal Shelter Management API
  description: >
    This API powers a demonstration backend for managing animals in a shelter.
    It showcases best practices in RESTful API design and OpenAPI documentation.
    The API allows clients to register animals, update their data, upload photos,
    and maintain adoption success stories. Created for portfolio and learning purposes.
  version: 1.1.0
  contact:
    name: Michaela Schmidt
    url: https://github.com/michaelaschmidt-tech-writer
  license:
    name: MIT

servers:
  - url: https://api.shelter-demo.com
    description: Production (demo only)
  - url: http://localhost:3000
    description: Local development server

tags:
  - name: Animals
    description: Endpoints for managing animals in the shelter.
  - name: Success
    description: Endpoints for managing adoption success stories.

security:
  - ApiKeyAuth: []

paths:

  ##############################################################
  # ANIMALS
  ##############################################################

  /animals:
    get:
      tags: [Animals]
      summary: Retrieve a list of all animals
      description: Returns a full list of animals currently registered in the shelter.
      responses:
        '200':
          description: List of animals retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimalList'
              examples:
                sample:
                  summary: Example animal list
                  value:
                    - id: "a123"
                      name: "Bella"
                      species: "dog"
                      age: 4
                      status: "available"
                    - id: "a124"
                      name: "Luna"
                      species: "cat"
                      age: 2
                      status: "foster"
        '500': { $ref: '#/components/responses/InternalServerError' }

    post:
      tags: [Animals]
      summary: Add a new animal
      description: Creates a new animal entry with the provided information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnimalInput'
      responses:
        '201':
          description: Animal created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Animal' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /animals/{id}:
    get:
      tags: [Animals]
      summary: Retrieve a single animal by ID
      parameters:
        - $ref: '#/components/parameters/AnimalId'
      responses:
        '200':
          description: Animal retrieved successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Animal' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Animals]
      summary: Update an existing animal
      parameters:
        - $ref: '#/components/parameters/AnimalId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AnimalInput' }
      responses:
        '200':
          description: Animal updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Animal' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Animals]
      summary: Delete an animal
      parameters:
        - $ref: '#/components/parameters/AnimalId'
      responses:
        '204': { description: Animal deleted successfully }
        '404': { $ref: '#/components/responses/NotFound' }

  /animals/{id}/photo:
    post:
      tags: [Animals]
      summary: Upload a photo for an animal
      parameters:
        - $ref: '#/components/parameters/AnimalId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: JPEG or PNG image file.
              required: [file]
      responses:
        '200':
          description: Photo uploaded successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnimalPhoto' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }


  ##############################################################
  # SUCCESS STORIES
  ##############################################################

  /success:
    get:
      tags: [Success]
      summary: Retrieve all success stories
      responses:
        '200':
          description: List of success stories
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessList' }
        '500': { $ref: '#/components/responses/InternalServerError' }

    post:
      tags: [Success]
      summary: Create a new success story
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SuccessStoryInput' }
      responses:
        '201':
          description: Success story created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessStory' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /success/{id}:
    get:
      tags: [Success]
      summary: Retrieve a success story by ID
      parameters:
        - $ref: '#/components/parameters/SuccessId'
      responses:
        '200':
          description: Success story retrieved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessStory' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Success]
      summary: Update a success story
      parameters:
        - $ref: '#/components/parameters/SuccessId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SuccessStoryInput' }
      responses:
        '200':
          description: Success story updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessStory' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Success]
      summary: Delete a success story
      parameters:
        - $ref: '#/components/parameters/SuccessId'
      responses:
        '204': { description: Success story deleted }
        '404': { $ref: '#/components/responses/NotFound' }

  /success/{id}/photo:
    post:
      tags: [Success]
      summary: Upload a photo for a success story
      parameters:
        - $ref: '#/components/parameters/SuccessId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: JPEG or PNG image.
              required: [file]
      responses:
        '200':
          description: Photo uploaded successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SuccessPhoto' }
        '404': { $ref: '#/components/responses/NotFound' }


##############################################################
# COMPONENTS
##############################################################

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  parameters:
    AnimalId:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: Unique identifier of the animal.

    SuccessId:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: Unique identifier of the success story.

  schemas:

    ##############################################################
    # SUCCESS STORIES
    ##############################################################

    SuccessStory:
      type: object
      description: Details about an adoption success story.
      properties:
        id: { type: string }
        animalId: { type: string }
        title:
          type: string
          description: Short headline describing the success story.
        description: { type: string }
        adoptionDate:
          type: string
          format: date
        adopter: { type: string }
        photoUrl:
          type: string
          nullable: true
      required: [id, animalId, title, description, adoptionDate, adopter]

    SuccessStoryInput:
      type: object
      description: Data required to create or update a success story.
      properties:
        animalId: { type: string }
        title: { type: string }
        description: { type: string }
        adoptionDate: { type: string, format: date }
        adopter: { type: string }
      required: [animalId, title, description, adoptionDate, adopter]

    SuccessList:
      type: array
      items:
        $ref: '#/components/schemas/SuccessStory'

    SuccessPhoto:
      type: object
      properties:
        id: { type: string }
        photoUrl: { type: string }
      required: [id, photoUrl]

    ##############################################################
    # ANIMALS
    ##############################################################

    AnimalPhoto:
      type: object
      properties:
        animalId: { type: string }
        photoUrl: { type: string }
      required: [animalId, photoUrl]

    Animal:
      type: object
      description: Represents an animal registered in the shelter.
      properties:
        id: { type: string }
        name: { type: string }
        species:
          type: string
          enum: [dog, cat, rabbit]
        age: { type: integer }
        status:
          type: string
          enum: [available, adopted, foster]
        arrivalDate:
          type: string
          format: date
        personality:
          type: object
          properties:
            friendliness: { type: string }
            energyLevel: { type: string }
            notes: { type: string }
        technicalData:
          type: object
          properties:
            size: { type: string }
            weightKg: { type: number }
            color: { type: string }
        medicalStatus:
          type: string
          enum: [healthy, needs_care, critical]
        photoUrl:
          type: string
          nullable: true
      required:
        - id
        - name
        - species
        - age
        - status
        - arrivalDate
        - personality
        - technicalData
        - medicalStatus

    AnimalInput:
      type: object
      description: Data required to create or update an animal.
      properties:
        name: { type: string }
        species:
          type: string
          enum: [dog, cat, rabbit]
        age: { type: integer }
        status:
          type: string
          enum: [available, adopted, foster]
        arrivalDate:
          type: string
          format: date
        personality:
          type: object
          properties:
            friendliness: { type: string }
            energyLevel: { type: string }
            notes: { type: string }
        technicalData:
          type: object
          properties:
            size: { type: string }
            weightKg: { type: number }
            color: { type: string }
        medicalStatus:
          type: string
          enum: [healthy, needs_care, critical]
      required: [name, species, age]

    AnimalList:
      type: array
      items:
        $ref: '#/components/schemas/Animal'

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: string, nullable: true }

  responses:
    BadRequest:
      description: Invalid request body.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

    InternalServerError:
      description: Server error.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
